﻿
@{
    ViewBag.Title = "Game";
}

<div class="userInfo">
    <table width="100%" border="2" align="center" cellpadding="4" cellspacing="1">
        <tr>
            <td align="center" colspan="4"><input type="button" value="Выйти из боя" id="battleOut" /></td>
        </tr>
        <tr>
            <td rowspan="3" valign="top" bgcolor="#ffcc33" width="300" height="400">Игрок</td>
            <td align="right">
                <label>Место атаки</label><br />
                <form>
                    <div>
                        <input type="radio" name="target" value="head" id="head">
                        <label for="head">head</label>
                    </div>
                    <div>
                        <input type="radio" name="target" value="torso" id="torso">
                        <label for="torso">torso</label>
                    </div>
                    <div>
                        <input type="radio" name="target" value="belt" id="belt">
                        <label for="belt">belt</label>
                    </div>
                    <div>
                        <input type="radio" name="target" value="legs" id="legs">
                        <label for="legs">legs</label>
                    </div>
                    <div id="attack"></div>
                </form>
            </td>
            <td>
                <label>Место защиты</label><br />
                <form>
                    <div>
                        <input type="radio" name="target" value="head" id="head">
                        <label for="head">head</label>
                    </div>
                    <div>
                        <input type="radio" name="target" value="torso" id="torso">
                        <label for="torso">torso</label>
                    </div>
                    <div>
                        <input type="radio" name="target" value="belt" id="belt">
                        <label for="belt">belt</label>
                    </div>
                    <div>
                        <input type="radio" name="target" value="legs" id="legs">
                        <label for="legs">legs</label>
                    </div>
                    <div id="defence"></div>
                </form>
            </td>
            <td rowspan="3" valign="top" bgcolor="#ffcc33" width="300">Враг</td>
        </tr>
        <tr>
            <td colspan="2" bgcolor="#ff0033" align="center"><input type="submit" id="send_move" value="Отправить удар" /></td>
        </tr>
        <tr>
            <td colspan="2" height="200">Лог боя</td>
        </tr>
    </table>
</div>

@section scripts{
    <script type="text/javascript">


        var token = sessionStorage.getItem("token"); //Выполняется в любом случае до прогрузки DOM элементов
        if (token == null) {
            window.location.replace("/Home/Index")
        } else {
            //Если игрок не в бою, то перенести его на страницу Game
            //window.location.replace("/Home/Game")
        }
        $(document).ready(function () { //После DOM но до загрузки картинок.
            $("#battleOut").click(function (event) {
                event.preventDefault();
                $.ajax({
                    url: '/api/battles/runaway',
                    type: 'POST',
                    dataType: 'json',
                    success: function (data) {
                        window.location.replace("/Home/Game")
                    },
                    error: function (e) {
                        alert(e);
                    }
                });

            });
        });
    </script>
}
