﻿
@{
    ViewBag.Title = "Game";
}
<div class="userInfo">
    <table width="100%" border="2" align="center" cellpadding="0" cellspacing="0">
        <tr>
            <td>
                Вы вошли как:<span id="userName"></span>
            </td>
            <td align="center">
                <input type="submit" id="start_battle" value="Начать бой" />
            </td>
            <td>
                <a href="/Home/Magazin">В магазин</a>
            </td>
            <td width="100">
                <input type="button" id="logOut" value="Выйти из аккаунта" />
            </td>
        </tr>
        <tr height="400">
            <td rowspan="2" valign="top" bgcolor="#ffcc33" width="300">Игрок
                <table width="100%" height="400" border="1">
                    <tr>
                        <td>Шлем</td>
                        <td rowspan="3" colspan="3" height="200">Image</td>
                        <td>серьги</td>
                    </tr>
                    <tr>
                        <td>Меч</td>
                        <td>Щит</td>
                    </tr>
                    <tr>
                        <td>Перчатки</td>
                        <td>Броня</td>
                    </tr>
                    <tr>
                        <td>Кольцо</td>
                        <td>Кольцо</td>
                        <td>Кольцо</td>
                        <td>Кольцо</td>
                        <td>Кольцо</td>
                    </tr>
                    <tr>
                        <td>Кольцо</td>
                        <td>Кольцо</td>
                        <td>Кольцо</td>
                        <td>Кольцо</td>
                        <td>Кольцо</td>
                    </tr>
                </table>
            </td>

            <td width="300">
                Характеристики <br/> 
                Урон: <div class="Damage"></div><br />
                Крит: <div class="Critical"></div><br />
                Антикрит: <div class="AntiCritical"></div><br />
                Уворот: <div class="Dodge"></div><br />
                Антиуворот: <div class="Antidodge"></div><br />
            </td>

            <td rowspan="2" colspan="2" valign="top" bgcolor="#4157ff">
                Инвентарь
                <div class="scrollable">
                    <table>
                        <tr height="70">
                            <td>Предмет 1</td>
                        </tr>
                        <tr height="70">
                            <td>Предмет 2</td>
                        </tr>
                        <tr height="70">
                            <td>Предмет 3</td>
                        </tr>
                        <tr height="70">
                            <td>Предмет 4</td>
                        </tr>
                        <tr height="70">
                            <td>Предмет 5</td>
                        </tr>
                    </table>
                </div>
            </td>
        </tr>
    </table>
</div>

@section scripts{
    <script type="text/javascript">

        

        var token = sessionStorage.getItem("token"); //Выполняется в любом случае до прогрузки DOM элементов
        document.getElementById("userName").textContent = token;
            if (token == null) {
                window.location.replace("/Home/Index");
            } else {
                //Здесь будет загрузка с помощью токена данных игрока. Загружать данные про игрока лучше до построения DOM, поскольку полученные данные могут повлиять на строение страницы.
                //Если согласно этому токену игрок находится в бою, то перенести его на страницу Battle
                $.ajax({
                    url: '/api/player/5', //Создается новый бой. Если других текущих нет (внезапно) то создается новый бой, а клиент редиректится на страницу боя
                    headers: {
                        "token": token
                    },
                    type: 'GET',
                    dataType: 'json',
                    success: function (data) {
                        if (data["CurrentBattleId"] !== undefined) { //data = null
                            //alert(data["CurrentBattleId"]);
                            window.location.replace("/Home/Battle");
                        }
                    },
                    error: function (e) {
                        alert(e);
                    }
                });
            }
        $(document).ready(function () { //После DOM но до загрузки картинок.
            $("#start_battle").click(function (event) {
                event.preventDefault();
                $.ajax({
                    url: '/api/battles/startnew', //Создается новый бой. Если других текущих нет (внезапно) то создается новый бой, а клиент редиректится на страницу боя
                    type: 'POST',
                    dataType: 'json',
                    success: function (data) {
                        window.location.replace("/Home/Battle");
                    },
                    error: function (e) {
                        alert(e);
                    }
                });

            });
        });

        
    </script>
}
