﻿
@{
    ViewBag.Title = "Index";
}


<div class="loginForm">
    <a href="/Home/Register">Регистрация</a>
    <h2>Login</h2>
    <label>Введите логин</label><br />
    <input type="text" id="login" /> <br /><br />
    <label>Введите пароль</label><br />
    <input type="password" id="password" /><br /><br />
    <input type="submit" id="submit" value="Логин" />
</div>

@section scripts{
    <script type="text/javascript">   
        //sessionStorage.setItem("token", "123");
        $(function () {
            $('#submit').click(function (e) {
                //alert("В пр");
                e.preventDefault(); //Блокировка отправки формы, иначе произошла бы переадресация
                var data = {
                    Login: $('#login').val(),
                    Password: $('#password').val()
                };

                $.ajax({
                    type: 'POST',
                    url: '/api/Account/Login',
                    contentType: 'application/json; charset=utf-8',
                    data: JSON.stringify(data),
                    success: function (token) {
                        sessionStorage.setItem("token", token);
                        window.location.replace("/Home/Game");
                    },
                    fail: function (data) {
                        alert("В процессе логина возникла ошибка" + data);
                    }
                })
            });
        })
    </script>
}

