﻿
@{
    ViewBag.Title = "Magazin";
}

<div class="userInfo">
    <table width="100%" border="2" align="center" cellpadding="4" cellspacing="0">
        <tr>
            <td>
                Вы вошли как:<span class="userName"></span>
            </td>
            <td align="center">
                <a href="/Home/Game">В инвентарь</a>
            </td>
            <td>Фильтры
            </td>
        </tr>
        <tr height="400">
            <td rowspan="2" valign="top" bgcolor="#ffcc33" width="300">Игрок</td>
            <td rowspan="2" colspan="2" valign="top" bgcolor="#4157ff">Товары</td>
        </tr>
    </table>
</div>

@section scripts{
    <script type="text/javascript">


        var token = sessionStorage.getItem("token"); //Выполняется в любом случае до прогрузки DOM элементов
        if (token == null) {
            window.location.replace("/Home/Index")
        } else {
            //Здесь будет загрузка с помощью токена данных игрока. Загружать данные про игрока лучше до построения DOM, поскольку полученные данные могут повлиять на строение страницы.
            //Если согласно этому токену игрок находится в бою, то перенести его на страницу Battle
            //window.location.replace("/Home/Battle")
        }
        $(document).ready(function () { //После DOM но до загрузки картинок.
            $("#start_battle").click(function (event) {
                event.preventDefault();
                $.ajax({
                    url: '/api/battles/new', //Создается новый бой. Если других текущих нет (внезапно) то создается новый бой, а клиент редиректится на страницу боя
                    type: 'GET',
                    dataType: 'json',
                    success: function (data) {
                        window.location.replace("/Home/Battle")
                    },
                    error: function (e) {
                        alert(e);
                    }
                });

            });
        });
    </script>
}
