﻿
@{
    ViewBag.Title = "Register";
}

<h2>Registration</h2>

<div>
    <label>Введите логин</label><br />
    <input type="text" id="login" /> <br /><br />
    <label>Введите пароль</label><br />
    <input type="password" id="password" /><br /><br />
    <label>Подтвердите пароль</label><br />
    <input type="password" id="confirmpassword" /><br /><br />
    <input type="submit" id="submit" value="Регистрация" />
</div>
@section scripts{
    <script type="text/javascript">
        $(function () {
            $('#submit').click(function (e) {
                e.preventDefault();
                var data = {
                    Login: $('#login').val(),
                    Password: $('#password').val(),
                    ConfirmPassword: $('#confirmpassword').val()
                };

                $.ajax({
                    type: 'POST',
                    url: '/api/Account/Register',
                    contentType: 'application/json; charset=utf-8',
                    data: JSON.stringify(data),
                    success: function (token) {
                        sessionStorage.setItem("token", token);
                        window.location.replace("/Home/Game")
                    },
                    fail: function (data) {
                        alert("В процессе регистрации возникла ошибка");
                    }
                });
            });
        })
    </script>
}

